
body {
    font-family: Arial, sans-serif;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
    background-image: url("img/white horse.jpg");
    background-size: cover;
    text-align: center;
    margin: 0;
    
}  

header {
    background-color:blueviolet  ;
    color: white;
    padding: 10px;  
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 50px;
}

main {
    width: 90vh;
    margin: 0 auto;
    padding: 30px 20px;
     

footer {
    background-color: blueviolet;
    color: white;
    padding: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
